# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
.sock
# IntelliJ project files
.idea/
*.iml
out
gen
env
*.log
__pycache__
migrations/
*.sqlite
*.lock
conf.ini
