<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码输入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="jumbotron" style="background-color: white;">
            <div style="text-align: center">
                <h1 class="display-4">小牛定时任务管理系统</h1>
                <p class="lead">&nbsp;&nbsp;方便、统一、自由</p>
            </div>
        </div>
<div style="text-align: center">
<form action="{{ url_for('main.check_pass') }}" method="post" class="well form-search form-inline">
    <input type="text" name="password" value="" placeholder="{{ placeholder }}" class="form-control"> <input type="submit" value="确定" class="btn btn-primary">
</form>
    {% if msg %}
<div style="text-align: center;font-size: 1.2em;color: red">
       {{ msg }}
    </div>
{% endif %}
</div>
</body>
</html>